<a href="https://colab.research.google.com/github/2303a51455/DATA-MINING/blob/main/Assignement_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


df = pd.read_csv("/content/employee_data.csv")
print(df.head())

   Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0         1001  50.0  108953.0               9.0                   36
1         1002  36.0   82995.0               8.0                   59
2         1003  29.0   70757.0               2.0                   30
3         1004  42.0   39692.0               1.0                   30
4         1005  40.0   75758.0               7.0                   54

In [2]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [3]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [4]:
df['Salary'].mean()

72349.2

In [5]:
df['Job_Satisfaction'].mean()

5.55

In [6]:
df['Work_Hours_Per_Week'].mean()

44.72

In [7]:
df['Work_Hours_Per_Week'].mode()

0    46
Name: Work_Hours_Per_Week, dtype: int64

In [8]:
df['Work_Hours_Per_Week'].median()

46.0

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
scaler = MinMaxScaler()

In [12]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [13]:
df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].min()) / (df['Job_Satisfaction'].max() - df['Job_Satisfaction'].min())

In [14]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [15]:
df[['Job_Satisfaction']] = s_scaler.fit_transform(df[[ 'Job_Satisfaction']])

In [16]:
df['Job_Satisfaction']

0     1.281519
1     0.910064
2    -1.318664
3    -1.690119
4     0.538609
5     0.538609
6          NaN
7    -0.204300
8    -0.947210
9     0.910064
10    0.167155
11         NaN
12         NaN
13   -1.690119
14   -0.947210
15   -0.204300
16   -0.947210
17   -1.690119
18   -0.204300
19    1.652974
20    0.538609
21    0.538609
22         NaN
23    1.281519
24    1.652974
25         NaN
26   -0.947210
27    0.538609
28   -1.690119
29   -0.575755
30   -0.575755
31         NaN
32    0.538609
33    0.538609
34         NaN
35   -0.575755
36    0.538609
37         NaN
38   -0.947210
39    0.167155
40   -1.318664
41    1.652974
42    1.281519
43   -0.204300
44    0.167155
45   -0.575755
46         NaN
47         NaN
48    0.538609
49    1.281519
Name: Job_Satisfaction, dtype: float64

In [17]:
df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].mean()) / df['Job_Satisfaction'].std()

In [18]:
df

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708          1.265398                   36
1          1002  0.361111  0.585375          0.898616                   59
2          1003  0.166667  0.447554         -1.302077                   30
3          1004  0.527778  0.097707         -1.668859                   30
4          1005  0.472222  0.503874          0.531834                   54
5          1006  0.583333  0.804011          0.531834                   56
6          1007  0.250000  0.465485               NaN                   59
7          1008  0.250000  0.728422         -0.201730                   54
8          1009  0.611111  0.405975         -0.935294                   49
9          1010  0.944444  0.465485          0.898616                   42
10         1011  0.611111  0.118451          0.165052                   38
11         1012       NaN  0.443500               NaN                   32
12         1013  0.555556  0.000000               NaN                   36
13         1014  0.000000  0.999741         -1.668859                   35
14         1015  0.611111  0.614611         -0.935294                   37
15         1016  0.777778  1.000000         -0.201730                   56
16         1017  1.000000  0.250360         -0.935294                   38
17         1018  0.000000  0.262219         -1.668859                   59
18         1019  0.527778  0.822661         -0.201730                   34
19         1020  0.861111  0.921010          1.632181                   30
20         1021  0.277778  0.092932          0.531834                   48
21         1022  0.555556  0.966158          0.531834                   39
22         1023  0.638889  0.125783               NaN                   41
23         1024  0.694444  0.705978          1.265398                   53
24         1025  0.722222  0.465485          1.632181                   44
25         1026  0.388889  0.428882               NaN                   56
26         1027  0.361111  0.465485         -0.935294                   51
27         1028  0.027778  0.417001          0.531834                   53
28         1029  0.972222  0.565318         -1.668859                   38
29         1030  0.138889  0.678094         -0.568512                   49
30         1031       NaN  0.540205         -0.568512                   46
31         1032  0.194444  0.447745               NaN                   59
32         1033  0.444444  0.017478          0.531834                   46
33         1034  0.055556  0.693455          0.531834                   55
34         1035       NaN  0.749437               NaN                   49
35         1036  0.333333  0.018909         -0.568512                   41
36         1037  0.194444  0.531263          0.531834                   59
37         1038  0.666667  0.047772               NaN                   36
38         1039  0.000000  0.465485         -0.935294                   31
39         1040       NaN  0.433443          0.165052                   32
40         1041  0.722222  0.361987         -1.302077                   46
41         1042  0.138889  0.146065          1.632181                   34
42         1043  0.166667  0.685189          1.265398                   46
43         1044  0.916667  0.131200         -0.201730                   53
44         1045  0.333333  0.423938          0.165052                   46
45         1046  0.416667  0.028661         -0.568512                   56
46         1047  0.944444  0.290982               NaN                   46
47         1048  0.055556  0.714998               NaN                   31
48         1049  0.000000  0.576997          0.531834                   31
49         1050       NaN  0.243772          1.265398                   57